.hero-top {
    background-image: url(./img/image\ 1.png);
    background-size: cover;
    background-position: center center;
    height: 400px;
    background-blend-mode: multiply;
    background-color: rgba(23, 49, 88, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-top h1 {
    color: #fff;
    font-size: 48px;
}

.whatsapp-logo {
    width: 65px;
    height: 60px;
    display: inline-block;
    position: fixed;
    bottom: 10px;
    right: 0px;
    z-index: 1000;
}

@media (max-width: 1200px) {
    .hero-top {
        height: 300px;
    }

    .hero-top h1 {
        font-size: 36px;
    }

    .whatsapp-logo {
        width: 50px;
        height: 45px;
        bottom: 5px;
        right: 5px;
    }
}

@media (max-width: 820px) {
    .hero-top {
        height: 200px;
    }

    .hero-top h1 {
        font-size: 24px;
    }

    .whatsapp-logo {
        width: 40px;
        height: 35px;
        bottom: 5px;
        right: 5px;
    }
}

@media (max-width: 480px) {
    .hero-top {
        height: 150px;
    }

    .hero-top h1 {
        font-size: 18px;

    }

    .whatsapp-logo {
        width: 30px;
        height: 25px;
        bottom: 5px;
        right: 5px;
    }
}